<p-dialog
  header="Detalhes do Envio"
  [(visible)]="visivel"
  [modal]="true"
  (onHide)="onFecharModal()"
>

  <p>
    <strong>ID: </strong>
    {{ envioSelecionado.idEnvioColare }}
  </p>
  <p>
    <strong>Mês: </strong>
    {{ envioSelecionado.mesReferencia }}
  </p>
  <p>
    <strong>Ano: </strong>
    {{ envioSelecionado.anoReferencia }}
  </p>
  <p>
    <strong>Município: </strong>
    {{ envioSelecionado.municipio }}
  </p>
  <p>
    <strong>Data de Envio: </strong>
    {{ envioSelecionado.dataEnvio }}
  </p>
  <p>
    <strong>Unidade Gestora Representante: </strong>
    {{ envioSelecionado.unidadeGestoraRepresentanteId }} - {{ envioSelecionado.unidadeGestoraRepresentante }}
  </p>
  <p>
    <strong>Representante: </strong>
    {{ envioSelecionado.representante }}
  </p>
  <p>
    <strong>Sigla Prestação de Contas: </strong>
    {{ envioSelecionado.siglaPrestacaoContas }}
  </p>
  <p>
    <strong>Layout: </strong>
    {{ envioSelecionado.siglaLayout }}
  </p>
  <p>
    <strong>Situação de Envio: </strong>
    {{ envioSelecionado.situacaoEnvio }}
  </p>

</p-dialog>
