<p-dialog
  header="Detalhes da Legislação"
  [(visible)]="visivel"
  [modal]="true"
  (onHide)="onFecharModal()"
>

  <p><strong>ID: </strong> {{ legislacaoSelecionada.idEnvioColare  }}</p>
  <p><strong>Tipo: </strong> {{ legislacaoSelecionada.tipoNorma }}</p>
  <p><strong>Número: </strong> {{ legislacaoSelecionada.numeroNorma }}</p>
  <p><strong>Ano: </strong> {{ legislacaoSelecionada.anoNorma }}</p>
  <p><strong>Município: </strong> {{ legislacaoSelecionada.municipio }}</p>
  <p><strong>Detalhamento da Norma: </strong> {{ legislacaoSelecionada.detalhamentoNorma }}</p>
  <p><strong>Ementa: </strong> {{ legislacaoSelecionada.ementa }}</p>
  <p><strong>Data de Envio: </strong> {{ legislacaoSelecionada.dataEnvio }}</p>
  <p><strong>Unidade Gestora: </strong> {{ legislacaoSelecionada.unidadeGestoraId}} - {{ legislacaoSelecionada.unidadeGestora }}</p>
  <p><strong>Situação:</strong> {{ legislacaoSelecionada.situacaoEnvio }}</p>
  <p><strong>PDF: </strong>  <a [href]="legislacaoSelecionada.arquivoPrincipalNorma" target="_blank">PDF</a></p>

</p-dialog>
