<p-table
  #tabela
  [value]="unidades"
  [columns]="colunas"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100, 150]"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [loading]="loading"
  [globalFilterFields]="filtroGlobal"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button
        pButton
        label="Limpar filtros"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="limparTabela(tabela, filtro)"
      ></button>
      &nbsp; &nbsp;
      <button type="button" pButton icon="pi pi-file-excel"
        iconPos="left" label="CSV" (click)="tabela.exportCSV()"
        style="margin-right: 0.5em;"></button>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          #filtro
          (input)="tabela.filterGlobal($event.target.value, 'contains')"
          placeholder="Pesquisar"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 60px">#</th>
      <th scope="col" style="width: 100px">ID</th>
      <th scope="col">Nome</th>
      <th scope="col" style="width: 200px">CNPJ</th>
      <th scope="col" style="width: 230px">Tipo</th>
      <th scope="col" style="width: 190px">Data Lei Criação</th>
      <th scope="col" style="width: 190px">Data de Cadastro</th>
      <th scope="col" style="width: 100px">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unidade>
    <tr>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-search"
          class="p-button-rounded p-button-info p-mr-2"
          (click)="detalhes(unidade)"
        ></button>
      </td>
      <td>{{ unidade.id }}</td>
      <td>{{ unidade.nome }}</td>
      <td>{{ unidade.cnpj | cnpj }}</td>
      <td>{{ unidade.tipo }}</td>
      <td>{{ unidade.dataLeiCriacao }}</td>
      <td>{{ unidade.dataCadastro }}</td>
      <td>{{ unidade.status }}</td>
    </tr>
  </ng-template>
</p-table>

<app-unidade-modal
  [(unidadeSelecionada)]="unidadeSelecionada"
  [(visivel)]="modal"
  (onFecharModal)="fecharModal()"
>
</app-unidade-modal>
