
<p-dialog
  header="Detalhes do Cargo"
  [(visible)]="visivel"
  [modal]="true"
  (onHide)="onFecharModal()"
>

  <p>
    <strong>ID: </strong> {{ cargoSelecionado.idEnvioColare }}
  </p>
  <p>
    <strong>Nome: </strong> {{ cargoSelecionado.nomeCargo }}
  </p>
  <p>
    <strong>Data de Envio: </strong> {{ cargoSelecionado.dataEnvio }}
  </p>
  <p>
    <strong>Unidade Gestora: </strong> {{ cargoSelecionado.unidadeGestoraId }} - {{ cargoSelecionado.unidadeGestora }}
  </p>
  <p>
    <strong>Carga Horária Semanal: </strong> {{ cargoSelecionado.cargaHorariaSemanal }} horas / semana
  </p>
  <p>
    <strong>Município: </strong> {{ cargoSelecionado.municipio }}
  </p>
  <p>
    <strong>Regime Jurídico: </strong> {{ cargoSelecionado.regimeJuridico }}
  </p>
  <p>
    <strong>Quantitativo: </strong> {{ cargoSelecionado.quantitativoCargo }}
  </p>
  <p>
    <strong>CBO: </strong> {{ cargoSelecionado.cbo }}
  </p>
  <p>
    <strong>Quadro Pessoal: </strong> {{ cargoSelecionado.quadroPessoal }}
  </p>
  <p>
    <strong>Unidade Gestora Representante: </strong> {{ cargoSelecionado.unidadeGestoraRepresentanteId }} - {{ cargoSelecionado.unidadeGestoraRepresentante }}
  </p>
  <p>
    <strong>Representante: </strong> {{ cargoSelecionado.representante }}
  </p>
  <p>
    <strong>Carreira: </strong> {{ cargoSelecionado.cargoCarreira | yesno }}
  </p>
  <p>
    <strong>Cargo Acumulável: </strong> {{ cargoSelecionado.cargoAcumulavel | yesno }}
  </p>
  <p>
    <strong>Escolaridade Mínima: </strong> {{ cargoSelecionado.escolaridadeMinima }}
  </p>
  <p>
    <strong>Legislação: </strong> {{ cargoSelecionado.idPessoalLegislacao }}
  </p>
  <p>
    <strong>Situação de Envio: </strong> {{ cargoSelecionado.situacaoEnvio }}
  </p>

</p-dialog>
