::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    color: #f8f9fa;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #f8f9fa;
}

::ng-deep .p-panel .p-panel-header {
    background: #343a40 !important;
    color: #f8f9fa;
}

::ng-deep .p-menubar {
    background: #343a40 !important;
    color: #f8f9fa;
    border: #343a40;
}

::ng-deep .darkMenu {
    color: #f8f9fa;
    background: #343a40 !important;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    color: #f8f9fa;
    background: #343a40 !important;
}