<p-table
  #tabela
  [value]="legislacoes"
  [columns]="colunas"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100, 150]"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [loading]="loading"
  [globalFilterFields]="filtroGlobal"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button
        pButton
        label="Limpar filtros"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="limparTabela(tabela, filtro)"
      ></button>
      &nbsp; &nbsp;
      <button type="button" pButton icon="pi pi-file-excel"
        iconPos="left" label="CSV" (click)="tabela.exportCSV()"
        style="margin-right: 0.5em;"></button>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          #filtro
          (input)="tabela.filterGlobal($event.target.value, 'contains')"
          placeholder="Pesquisar"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th scope="col" style="width: 60px">#</th>
      <th scope="col" style="width: 100px">ID</th>
      <th scope="col">Tipo da Norma</th>
      <th scope="col" style="width: 80px">Número</th>
      <th scope="col" style="width: 60px">Ano</th>
      <th scope="col" style="width: 130px">Data Envio</th>
      <th scope="col">Unidade Gestora</th>
      <th scope="col">Situação</th>
      <th scope="col" style="width: 60px">PDF</th>
      <th scope="col" style="width: 80px">Recibo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-legislacao>
    <tr>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-search"
          class="p-button-rounded p-button-info p-mr-2"
          (click)="detalhes(legislacao)"
        ></button>
      </td>
      <td>{{ legislacao.idEnvioColare }}</td>
      <td>{{ legislacao.tipoNorma }}</td>
      <td>{{ legislacao.numeroNorma }}</td>
      <td>{{ legislacao.anoNorma }}</td>
      <td>{{ legislacao.dataEnvio }}</td>
      <td>
        {{ legislacao.unidadeGestoraId }} - {{ legislacao.unidadeGestora }}
      </td>
      <td>{{ legislacao.situacaoEnvio }}</td>
      <td>
        <a [href]="legislacao.arquivoPrincipalNorma" target="_blank">
          <em class="pi pi-file-pdf"></em>
        </a>
      </td>
      <td>
        <app-link-recibo [id]="legislacao.idEnvioColare"></app-link-recibo>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-legislacao-modal
  [(legislacaoSelecionada)]="legislacaoSelecionada"
  [(visivel)]="modal"
  (onFecharModal)="fecharModal()">
</app-legislacao-modal>
