<p-dialog
  header="Detalhes da Unidade"
  [(visible)]="visivel"
  [modal]="true"
  (onHide)="onFecharModal()"
>
  <p><strong>Id:</strong> {{ unidadeSelecionada.id }}</p>
  <p><strong>Nome:</strong> {{ unidadeSelecionada.nome }}</p>
  <p><strong>CNPJ:</strong> {{ unidadeSelecionada.cnpj | cnpj }}</p>
  <p><strong>Tipo:</strong> {{ unidadeSelecionada.tipo }}</p>
  <p>
    <strong>Data Lei de Criação:</strong>
    {{ unidadeSelecionada.dataLeiCriacao }}
  </p>
  <p><strong>Data Cadastro:</strong> {{ unidadeSelecionada.dataCadastro }}</p>
  <p><strong>Status:</strong> {{ unidadeSelecionada.status }}</p>
</p-dialog>
