<p-messages></p-messages>

<div class="p-grid">

  <div class="p-col">
    <app-municipios (municipioSelecionadoEvent)="municipioSelecionado($event)">
    </app-municipios>
  </div>

  <div class="p-col">
    <app-tabelas (tabelaSelecionadaEvent)="tabelaSelecionada($event)">
    </app-tabelas>
  </div>

  <div class="p-col">
    <p-button label="Pesquisar" (click)="pesquisar()" icon="pi pi-search"></p-button>
  </div>

</div>

<div class="p-grid" *ngIf="tabela=='envios'">
  <div class="p-col">
    <app-layouts (layoutSelecionadoEvent)="layoutSelecionado($event)">
    </app-layouts>
  </div>

  <div class="p-col">
    <input type="number" pInputText [(ngModel)]="ano"
      placeholder="Informe um ano" [style]="{'minWidth':'100%'}">
  </div>

  <div class="p-col">
    <app-unidades-dropdown *ngIf="!carregandoUnidades; else mensagemCarregandoUnidades"
      [(unidades)]="unidades" (unidadeSelecionadaEvent)="unidadeSelecionada($event)">
    </app-unidades-dropdown>

    <ng-template #mensagemCarregandoUnidades>Carregando Unidades...</ng-template>
  </div>

</div>
