<p-dialog
  header="Detalhes da Verba"
  [(visible)]="visivel"
  [modal]="true"
  (onHide)="onFecharModal()"
>

  <p>
    <strong>ID: </strong>
    {{ verbaSelecionada.idEnvioColare }}
  </p>
  <p>
    <strong>Nome: </strong>
    {{ verbaSelecionada.nomeVerba }}
  </p>
  <p>
    <strong>Data de Envio: </strong>
    {{ verbaSelecionada.dataEnvio }}
  </p>
  <p>
    <strong>Tipo Verba: </strong>
    {{ verbaSelecionada.tipoVerba }}
  </p>
  <p>
    <strong>Município: </strong>
    {{ verbaSelecionada.municipio }}
  </p>
  <p>
    <strong>Verba Transitoria: </strong>
    {{ verbaSelecionada.verbaTransitoria | yesno }}
  </p>
  <p>
    <strong>Quadro Pessoal: </strong>
    {{ verbaSelecionada.quadroPessoal }}
  </p>
  <p>
    <strong>Unidade Gestora Representante: </strong>
    {{ verbaSelecionada.unidadeGestoraRepresentanteId }} - {{ verbaSelecionada.unidadeGestoraRepresentante }}
  </p>
  <p>
    <strong>Representante: </strong>
    {{ verbaSelecionada.representante }}
  </p>
  <p>
    <strong>Legislação: </strong>
    {{ verbaSelecionada.idPessoalLegislacao }}
  </p>
  <p>
    <strong>Situação de Envio: </strong>
    {{ verbaSelecionada.situacaoEnvio }}
  </p>

</p-dialog>
